<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div *ngIf="producto" class="bg-dark">
    <div class="p-3 bg-dark align-middle text-white">
        <h4 class="text-white">Editar Producto</h4>
      <form class="d-flex align-middle p-3 g-col-10" #formproducto="ngForm">
        <div class="d-flex flex-column m-1">
          <input class="form-control" type="text" id="descripcion" name="descripcion" placeholder="Descripcion" [(ngModel)]="producto.descripcion" required>
        </div>
        <div class="d-flex flex-column m-1">
          <input class="form-control" type="text" id="precio" name="precio" placeholder="Precio" [(ngModel)]="producto.precio" required>
        </div>
        <div class="d-flex flex-column m-1">
          <select class="form-select" id="selecTipo" name="tipo">
            <option type="number" id="campera">Campera</option>
            <option type="number" id="gorro">Gorro</option>
            <option type="number" id="calzado">Calzado</option>
            <option type="number" id="pantalon">Pantalon</option>
          </select>
        </div>
        <div class="d-flex flex-column m-1">
          <input class="form-control" type="text" id="stock" name="stock" placeholder="Stock" [(ngModel)]="producto.stock" required>
        </div>
        <div class="d-flex flex-column m-1">
          <input class="form-control" type="text" id="imagen" name="imagen" placeholder="URL de imagen" [(ngModel)]="producto.imagen" required>
        </div>
      </form>
    </div>
    <div class="d-flex flex-row ">
      <button class="btn m-1 btn-primary" [disabled]="!formproducto.form.valid">Confirmar
      </button>
      <button class="btn m-1 btn-secondary" routerLink="/productos">Cancelar
      </button>
    </div>
  </div>
</body>
</html>