<div class="p-3 bg-dark align-middle text-white">
  <h4 class="text-white">Nueva Linea</h4>
  <form class="d-flex align-middle p-3 g-col-10" #formlinea="ngForm">
    <div class="d-flex flex-column m-1">
      <label for="producto">Producto:</label>
      <select class="form-select" id="producto" name="producto" aria-label="Default select example" [(ngModel)]="producto"
        required>
        <option *ngFor="let prod of productos.data" [ngValue]="prod" type="number" id="producto">{{prod.descripcion}}
        </option>
      </select>
    </div>
    <div class="d-flex flex-column m-1">
      <label for="cantidad">Cantidad:</label>
      <input class="form-control" type="number" id="cantidad" name="cantidad"
        [(ngModel)]="cantidad" required>
    </div>
    <button class="btn m-1 btn-primary" type="submit" (click)="agregarNuevaLinea()"
      [disabled]="!formlinea.form.valid">Agregar
    </button>
  </form>
</div>

<div class="relative mb-20">
<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Producto</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Subtotal</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let lin of lineasDeLaVenta.data, let idLineaVenta = index">
      <th scope="row">{{lin.idLineaVenta}}</th>
      <td>{{lin.producto.descripcion}}</td>
      <td>{{lin.cantidad}}</td>
      <td>${{lin.cantidad * lin.producto.precio}}</td>
      <td>
        <button class="btn btn-secondary btn-sm" (click)="editarLinea(lin)">Editar
        </button>
        <button class="btn btn-danger btn-sm ms-2" (click)="borrarLinea(lin)">Borrar
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div class="absolute bottom-0 left-1/2 transform -translate-x-1/2 bg-gray-800 p-4">
  <button class="btn btn-secondary m-1" routerLink="/ventas">Volver</button>
  <button class="btn btn-primary m-1" (click)="finalizarVenta()">Finalizar venta</button>
</div>
</div>