<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <nav>
    <div class="navbar bg-dark border-bottom border-body">
      <a class="home" routerLink="/inicio">Kessia</a>
      <a class="btn btn-dark" routerLink="/clientes">Clientes</a>
      <a class="btn btn-dark" routerLink="/productos">Productos</a>
      <a class="btn btn-dark" routerLink="/ventas">Ventas</a>
      <a class="btn btn-dark" routerLink="/empleados">Empleados</a>
      <a class="btn btn-dark" routerLink="/categorias">Categorías</a>
      <a class="btn btn-dark" routerLink="/roles">Roles</a>
      <a class="btn btn-dark" routerLink="/pedidos">Pedidos</a>
      <a class="btn btn-dark" routerLink="/proveedores">Proveedores</a>
      <a class="btn btn-dark" routerLink="/tipos">Tipos de Producto</a>
      <a class="btn btn-dark" routerLink="/perfil">
        <span>Mi Perfil</span>
        <img class="icono" src="https://static.vecteezy.com/system/resources/thumbnails/005/544/718/small/profile-icon-design-free-vector.jpg" alt="Icono de perfil">
      </a>
    </div>
  </nav>
</body>
</html>