<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <!-- form -->
  <div class="p-3 bg-dark align-middle text-white">
    <h4 class="text-white">Nuevo Pedido</h4>
    <form (ngSubmit)="pedidoSubmit()" class="d-flex align-middle p-3 g-col-10" #formpedido="ngForm">
      <div class="d-flex flex-column m-1">
        <input class="form-control" type="text" id="fecha" name="fecha" placeholder="Fecha" [(ngModel)]="fechaPedido">
      </div>
      <div class="d-flex flex-column m-1">
        <input class="form-control" type="text" id="empleado" name="empleado" placeholder="Empleado" [(ngModel)]="idEmpleado" required>
      </div>
      <div class="d-flex flex-column m-1">
        <input class="form-control" type="text" id="proveedor" name="proveedor" placeholder="Proveedor" [(ngModel)]="idProveedor" required>
      </div>
      <div class="d-flex flex-column m-1">
        <input class="form-control" type="text" id="cantidad" name="cantidad" placeholder="Cantidad" [(ngModel)]="cantidad" required>
      </div>
      <div class="d-flex flex-column m-1">
        <input class="form-control" type="text" id="producto" name="producto" placeholder="Producto" [(ngModel)]="idProducto" required>
      </div>
      <button class="btn m-1 btn-primary" type="submit" 
      (click)="agregarNuevoPedido()"
      [disabled]="!formpedido.form.valid">Agregar
      </button>    
    </form>
  </div>

  <!-- tabla -->
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Fecha y hora</th>
        <th scope="col">Empleado</th>
        <th scope="col">Proveedor</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Producto</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ped of pedidos">
        <th scope="row">{{ped.idPedido}}</th>
        <td>{{ped.fechaPedido}}</td>
        <td>{{ped.idEmpleado}}</td>
        <td>{{ped.idProveedor}}</td>
        <td>{{ped.cantidad}}</td>
        <td>{{ped.idProducto}}</td>
        <td>
          <button class="btn btn-secondary btn-sm">Editar</button>
          <button class="btn btn-danger btn-sm ms-2">Borrar</button>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>