<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <!-- form -->
  <div class="p-3 bg-dark align-middle text-white">
    <h4 class="text-white">Nueva Categoria</h4>
    <form (ngSubmit)="categoriaSubmit()" class="d-flex align-middle p-3 g-col-10" #formcategoria="ngForm">
      <!-- Descripcion -->
      <div class="d-flex flex-column m-1">
        <input class="form-control" type="text" id="descripcion" name="descripcion" placeholder="Descripcion" [(ngModel)]="descripcion" required>
      </div>
      <!-- Boton Agregar -->
      <button class="btn m-1 btn-primary" (click)="agregarNuevaCategoria()" [disabled]="!formcategoria.form.valid">
        Agregar
      </button>
    </form>
  </div>
<!-- tabla -->
<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cat of categorias.data">
      <th scope="row">{{cat.idCategoria}}</th>
      <td>{{cat.descripcion}}</td>
      <td>
        <button class="btn btn-secondary btn-sm">Editar</button>
        <button class="btn btn-danger btn-sm ms-2">Borrar</button>
      </td>
    </tr>
  </tbody>
</table>
</body>
</html>
