<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <!-- form -->
  <div class="p-3 bg-dark align-middle text-white">
    <h4 class="text-white">Nuevo Proveedor</h4>
    <form (ngSubmit)="proveedorSubmit()" class="d-flex align-middle p-3 g-col-10" #formproveedor = "ngForm">
      <div class="d-flex flex-column m-1">
        <input class="form-control" type="text" id="cuit" name="cuit" placeholder="CUIT" [(ngModel)]="cuit" required>
      </div>
      <div class="d-flex flex-column m-1">
        <input class="form-control" type="text" id="razonSocial" name="razonSocial" placeholder="Razon Social" [(ngModel)]="razonSocial">
      </div>
      <div class="d-flex flex-column m-1">
        <input class="form-control" type="text" id="telefono" name="telefono" placeholder="Telefono" [(ngModel)]="telefono">
      </div>
      <div class="d-flex flex-column m-1">
        <input class="form-control" type="text" id="email" name="email" placeholder="E-Mail" [(ngModel)]="email">
      </div>
      <button class="btn m-1 btn-primary" 
      (click)="agregarNuevoProveedor()"
      [disabled]="!formproveedor.form.valid"
      >Agregar
      </button>
    </form>
  </div>
<!-- buscar -->
  <app-proveedores-busqueda></app-proveedores-busqueda>
<!-- tabla -->
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">CUIT</th>
        <th scope="col">Razon Social</th>
        <th scope="col">Telefono</th>
        <th scope="col">Email</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
  
      <tr *ngFor="let pro of proveedores, let idProveedor = index">
        <th scope="row">{{pro.idProveedor}}</th>
        <td>{{pro.cuit}}</td>
        <td >{{pro.razonSocial}}</td>
        <td>{{pro.telefono}}</td>
        <td>{{pro.email}}</td>
        <td>
          <button class="btn btn-secondary btn-sm"
          routerLink="/proveedores/{{pro.idProveedor}}"
          >Editar
          </button>
          <button class="btn btn-danger btn-sm ms-2"
          (click)="borrarProveedor(idProveedor)"
          >Borrar</button>
        </td>
      </tr>
    </tbody>
  </table>
<!-- 
  <app-proveedores-editar [proveedor]="proveedorSeleccionado" ></app-proveedores-editar>
-->
</body>
</html>