html {
  font-family: 'Noto Serif', serif;
  background-color: #212529;
  font-size: 16px;
  color: white;
  
}

.boton {
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
  height: 30px;
  width: 75px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.boton:hover {
  transform: scale(105%);
}