<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="bg-dark">
    <div>
        <button>
            BIENVENIDO A KESSIA
        </button>
    </div>
    <div style="display: block;">
        <h1 class="titulo">Ventas por mes (2023):</h1>
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
            [legend]="barChartLegend" [type]="barChartType">
        </canvas>
    </div>
</body>
</html>